name: $(Date:yyyy.MM.dd).$(Rev:r)
variables:
  SNYK_TOKEN: 3e74cf14-a819-4424-9652-aee1fb06348b
jobs:
- job:
  pool:
    vmImage: 'vs2017-win2016'

  steps:

  - task: DotNetCoreCLI@2
    displayName: 'Building Project'
    inputs:
      command: build
      arguments: -p:Version=$(Build.BuildNumber)

  - task: Npm@1
    displayName: 'Install Npm'
    inputs:
      command: 'install'
      verbose: false 

  - script: |
      npm install -g snyk
    displayName: 'Install Snyk.io through Npm'

  - script: |
      snyk auth $(SNYK_TOKEN)
    displayName: 'Establishing Authentication for Snyk'  


  - script: |
      snyk monitor
    displayName: 'Publish vulnerability to Snyk Dashboard'

